@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npmLogo {
  width: 30px;
  margin-right: 0.5em;
}

.searchBar img {
  width: 20px;
  vertical-align: middle;
  background-color: lightgray;
}

.searchBar {
  width: 100%;
  margin: 0px;
  font-size: 1.5em;
}

.searchBar input {
  border: none;
  background-color: lightgray;
  height: 20px;
  width: 600px;
}

.searchBar button {
  background-color: red;
  border: none;
}

.link-btn {
text-decoration: none;
border: black;
padding: 10px;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 1000;
}

#section1 {
  margin: 50px 50px;
  background-color: rgb(255, 220, 226);
}

#section1 article {
text-align: center;
margin: auto 35%;
}

.hexagon {
  width: 100px;
  align-items: center;
}

.icons {
  width: 30px;
}